body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav-button {
    background-color: #444;
    color: white;
    border: none;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #555;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto; 
    gap: 20px;
    padding: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #333; 
    border-radius: 10px;
}

.grid-item h1 {
    font-size: 18px;
    margin-bottom: 15px;
    color: white; 
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.grid-containerr {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
    gap: 20px;
    padding: 20px;

}


.grid-itemm {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.grid-itemm p {
    font-size: 25px;
    margin-bottom: 25px;
    color: white; 
}

.grid-itemm img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


#content5 img {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    border: 3px solid white; 
    object-fit: cover; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px 5px 10px;
}
.row-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.image-container {
    width: 5000px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.containerr {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px 5px 10px;
}
.row-containerr {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 2000px;
}

.image-containerr {
    width: 1800;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-containerr:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.image-containerr img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
